@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>List of projects:</p>
    <ul>
        @foreach (var project in Model.Projects)
        {
            <li><i>@project.Name</i> by <i>@project.Owner</i></li>
        }
    </ul>
    
    <p>List of invitations:</p>
    <ul>
        @foreach (var invitation in Model.Invitations)
        {
            <li><i>@invitation.InvitingUser</i> invites you to collaborate on the project <i>@invitation.ProjectName</i></li>
        }
    </ul>
</div>
