@page
@using DidacticalEnigma.Mem.DatabaseModels
@using DidacticalEnigma.Mem.Pages.Shared
@using Microsoft.AspNetCore.Identity
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <p>List of projects:</p>
        <ul>
            @foreach (var project in Model.Projects)
            {
                <li><a asp-area="" asp-route-project="@project.Name" asp-page="/Project">@project.Name</a> by <i>@project.Owner</i></li>
            }
        </ul>

        <p>List of invitations:</p>
        <ul>
            @foreach (var invitation in Model.Invitations)
            {
                @await Html.PartialAsync("Shared/_InviteBox", new InviteBoxModel()
                {
                    Project = invitation.ProjectName,
                    User = invitation.InvitingUser
                })
            }
        </ul>
    </div>
}
else
{
    <div class="text-center">
        <h2>Welcome to Didactical Enigma.Mem</h2>
    </div>
}