@page
@using DidacticalEnigma.Mem.DatabaseModels
@using DidacticalEnigma.Mem.Translation.IoModels
@using Microsoft.AspNetCore.Identity
@model TranslationsModel
@{
    ViewData["Title"] = $"Search for '{Model.SearchText}'";
}

<div>
    <div class="row">
        <div class="col-md-5">
            <section>
                @await Html.PartialAsync("Shared/_TranslationsBox", Model.Translations)
                @if (Model.PaginationToken != null)
                {
                    <a asp-area="" asp-page="/Translations" asp-route-search="@Model.SearchText" asp-route-paginationToken="@Model.PaginationToken">More</a>
                }
            </section>
        </div>
    </div>
</div>